.padding-16 {
  padding: 16px;
}

.padding-bottom-16 {
  padding-bottom: 16px;
}

.margin-bottom-16, .metrics, .header {
  margin-bottom: 16px;
}

.font-bold {
  font-weight: bold !important;
}

.metrics {
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); */
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 17px;
}

.spacer {
  width: 17px;
}

.font-style, .total-count, .total-text, .blocked-count, .blocked-text {
  font-family: "Lato", Arial !important;
  text-decoration: none;
  text-align: left;
}

.dashboard-status, .dashboard-status-total, .dashboard-status-blocked {
  height: 64px;
  padding-left: 16px;
  border-radius: 6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 152px;
}

.metric-count, .total-count, .blocked-count {
  font-weight: bold;
  font-size: 24px;
}

.metric-text, .total-text, .blocked-text {
  font-size: 12px;
  padding-top: 6px;
}

.dashboard-status-total {
  background-color: rgba(96, 125, 139, 0.1);
}

.total-count {
  color: #607D8B;
}

.total-text {
  color: #607D8B;
}

.dashboard-status-blocked {
  background-color: rgba(244, 67, 54, 0.1);
}

.blocked-count {
  color: #F44336;
}

.blocked-text {
  color: #F44336;
}

.header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pill, .ward-pill, .bed-pill, .requests-pill,
md-icon {
  cursor: pointer;
}

.pill-container {
  height: 40px;
}

.pill, .ward-pill, .bed-pill, .requests-pill {
  background-color: #0000000D;
  border: 1px solid #E0E0E0;
  font-size: 14px;
  padding: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.ward-pill {
  border-radius: 20px 0px 0px 20px;
}

.bed-pill {
  border-radius: 0px 20px 20px 0px;
}

.requests-pill {
  margin-left: 17px;
  border-radius: 22px;
}

.requests-count {
  background-color: #616161;
  color: #FAFAFA;
  border-radius: 10px;
  margin-left: 9px;
  width: 32px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.selected-pill {
  color: #FFFFFF;
  background-color: #616161;
  border: 1px solid #424242;
}

.selected-pill .requests-count {
  background-color: rgba(255, 255, 255, 0.3);
}

.height-40 {
  height: 40px;
}

.md-icon {
  margin: 0 !important;
}

.btn-icon-text-margin {
  padding: 4px 8px;
  margin: 0px !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.btn-icon-text-margin md-icon {
  margin-right: 4px;
}

/* kendo grid customizations */
.k-grid-header {
  height: 0;
  border-bottom-width: 0;
  display: none;
  overflow: hidden;
}

.k-grid-content {
  overflow-y: hidden;
}

.k-grid-content-expander {
  width: inherit !important;
}

.k-grid td {
  border-width: 0;
}
/*# sourceMappingURL=bed-management.css.map */