$space: 17px;

.padding-16 {
    padding: 16px;
}

.padding-bottom-16 {
    padding-bottom: 16px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.font-bold {
    font-weight: bold !important;
}

.metrics {
    display                 : grid;
    /* grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); */
    grid-template-columns   : repeat(auto-fit, minmax(140px, 1fr));
    grid-gap                : $space;
    @extend .margin-bottom-16;
}

.spacer {
    width: $space;
}

.font-style {
    font-family    : "Lato", Arial !important;
    text-decoration: none;
    text-align     : left;
}

$total-color  : #607D8B;
$blocked-color: #F44336;

.dashboard-status {
    height         : 64px;
    padding-left   : 16px;
    border-radius  : 6px;
    justify-content: center;
    min-width      : 152px;
}

.metric-count {
    font-weight: bold;
    font-size  : 24px;
}

.metric-text {
    font-size  : 12px;
    padding-top: 6px;
}

.dashboard-status-total {
    background-color: rgba($color: $total-color, $alpha: 0.1);
    @extend .dashboard-status;
}

.total-count {
    color: $total-color;
    @extend .font-style, .metric-count;
}

.total-text {
    color: $total-color;
    @extend .font-style, .metric-text;
}

.dashboard-status-blocked {
    background-color: rgba($color: $blocked-color, $alpha: 0.1);
    @extend .dashboard-status;
}

.blocked-count {
    color: $blocked-color;
    @extend .font-style, .metric-count;
}

.blocked-text {
    color: $blocked-color;
    @extend .font-style, .metric-text;
}

.header {
    flex-wrap  : wrap;
    gap        : 17px;
    align-items: center;
    @extend .margin-bottom-16;
}

.pill,
md-icon {
    cursor: pointer;
}

.pill-container {
    height: 40px;
}

.pill {
    background-color: #0000000D;
    border          : 1px solid #E0E0E0;
    font-size       : 14px;
    padding         : 0px 24px;
    display         : flex;
    align-items     : center;
    min-width       : fit-content;
}

.ward-pill {
    border-radius: 20px 0px 0px 20px;
    @extend .pill;
}

.bed-pill {
    border-radius: 0px 20px 20px 0px;
    @extend .pill;
}

.requests-pill {
    margin-left  : $space;
    border-radius: 22px;
    @extend .pill;
}

.requests-count {
    background-color: #616161;
    color           : #FAFAFA;
    border-radius   : 10px;
    margin-left     : 9px;
    width           : 32px;
    height          : 20px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    font-size       : 12px;
}

.selected-pill {
    color           : #FFFFFF;
    background-color: #616161;
    border          : 1px solid #424242;

    .requests-count {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.height-40 {
    height: 40px;
}

.md-icon {
    margin: 0 !important;
}

.btn-icon-text-margin {
    padding: 4px 8px;
    margin : 0px !important;
    width  : fit-content !important;

    md-icon {
        margin-right: 4px;
    }
}

/* kendo grid customizations */

// removes header
.k-grid-header {
    height             : 0;
    border-bottom-width: 0;
    display            : none;
    overflow           : hidden;
}

// hides vertical scrollbar
.k-grid-content {
    overflow-y: hidden;
}

// hides horizontal scrollbar of noRecords
.k-grid-content-expander {
    width: inherit !important;
}

.k-grid td {
    border-width: 0;
}