<div class="container padding-16" ng-cloak>
    <!-- pills (view by) and create request -->
    <div layout="row" class="pill-container">
        <div class="ward-pill" ng-click="goto('viewByWard')" ng-class="{'selected-pill': viewBy=='viewByWard'}">
            <span>View By Wards</span>
        </div>
        <div class="pill" ng-click="goto('viewByRoomType')" ng-class="{'selected-pill': viewBy=='viewByRoomType'}">
            <span>View By Room Type</span>
        </div>
        <div class="bed-pill" ng-click="goto('viewByBed')" ng-class="{'selected-pill': viewBy=='viewByBed'}">
            <span>ViewBy Bed</span>
        </div>
        <div class="requests-pill" ng-click="goto('requests')" ng-class="{'selected-pill': viewBy=='requests'}">
            <span>ViewBy Bed</span>
            <span class="requests-count">03</span>
        </div>
        <span flex></span>

        <button track-click-event="Bed Management - Create Request" id="createRequestBtn" style="margin: 0;"
            class="md-button md-raised ladda-button ladda-done-button height-3px" data-style="slide-left" layout="row"
            layout-align="space-around center">
            <i class="material-icons button-white-icon" style="margin-right: 4px;" aria-hidden="true">add_circle</i>
            <span>CREATE REQUEST</span>
        </button>
    </div>

    <!-- metrics -->
    <div class="metrics" layout="row">
        <div layout="column" class="dashboard-status-total">
            <div class='total-count'>25</div>
            <div class='total-text'>Semi Private</div>
        </div>
        <!-- <span class="spacer"></span> -->
        <div layout="column" class="dashboard-status-total">
            <div class='total-count'>48</div>
            <div class='total-text'>Deluxe</div>
        </div>
        <!-- <span class="spacer"></span> -->
        <div layout="column" class="dashboard-status-total">
            <div class='total-count'>79</div>
            <div class='total-text'>General</div>
        </div>
        <!-- <span class="spacer"></span> -->
        <div layout="column" class="dashboard-status-total">
            <div class='total-count'>08</div>
            <div class='total-text'>VIP</div>
        </div>
        <!-- <span class="spacer"></span> -->
        <div layout="column" class="dashboard-status-blocked">
            <div class='blocked-count'>06</div>
            <div class='blocked-text'>Blocked</div>
        </div>
    </div>

    <!-- content -->
    <div ng-show="viewBy==='viewByWard'" id="example" class="margin-bottom-16">
        <!-- <kendo-tabstrip>
            <ul class="height-40">
                <li class="k-state-active">Wards</li>
            </ul>
        </kendo-tabstrip> -->
        <!-- Ward Grid -->
        <kendo-grid options="mainGridOptions">
            <div k-detail-template>
                <kendo-tabstrip>
                    <!-- <ul class="height-40">
                        <li class="k-state-active">Rooms</li>
                    </ul> -->
                    <!-- Room Grid -->
                    <div kendo-grid k-options="detailGridOptions(dataItem)">
                        <div k-detail-template>
                            <kendo-tabstrip>
                                <!-- <ul class="height-40">
                                    <li class="k-state-active">Beds</li>
                                </ul> -->
                                <!-- Bed Grid -->
                                <div kendo-grid k-options="detailGridOptions1(dataItem)"></div>
                            </kendo-tabstrip>
                        </div>
                    </div>
                </kendo-tabstrip>
            </div>
        </kendo-grid>
    </div>
    <!-- ------- -->
    <div ng-show="viewBy==='viewByRoomType'">viewByRoom Container</div>
    <div ng-show="viewBy==='viewByBed'">viewByBed Container</div>
    <div ng-show="viewBy==='requests'">requests Container</div>

</div>